<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>AgendaApp</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="topbar">
    <h2>AgendaApp</h2>

    {% if current_user.is_authenticated %}
        <div>
            Logado como <b>{{ current_user.username }}</b>
            | <a href="{{ url_for('auth.logout') }}">Sair</a>
        </div>
    {% endif %}
</div>

<div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <p class="{{ category }}">{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}
</div>

</body>
</html>
